<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Construction Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="login-container">
    <form [formGroup]="requestForm">
        <ion-item class="ion-margin-bottom ion-margin-top" color="light">
          <ion-label position="stacked">Beneficiary Name</ion-label>
          <ion-input type="text" placeholder="Beneficiary Name"  formControlName="firstname" class="icon-user"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom" color="light">
          <ion-label position="stacked">Beneficiary Surname</ion-label>
          <ion-input type="text" placeholder="Beneficiary Surname"  formControlName="surname" class="icon-user"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom" color="light">
          <ion-label position="stacked">Beneficiary ID-Number</ion-label>
          <ion-input type="text" placeholder="Beneficiary ID-Number" formControlName="idNo" class="icon-profile"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom" color="light">
          <ion-label  position="stacked">Beneficiary Stand No</ion-label>
          <ion-input type="text" placeholder="Beneficiary Stand No" formControlName="standNo" class="icon-profile"></ion-input>
        </ion-item>

        <div  class="header">Description</div>
        <ion-item class="ion-margin">
          <ion-textarea formControlName="description" rows="6" placeholder="Tap here to start typing..."></ion-textarea>
        </ion-item>
    </form>

  </div>

  <div class="button-container">
    <ion-button shape="round" class="login-button ion-margin-top"
    (click)="SubmitRequest()">Complete Checklist</ion-button>

    <ion-button shape="round" class="login-button" color="danger"
    [routerDirection]="'back'" [routerLink]="['/construction/project-details']">Cancel Request</ion-button>
  </div>
</ion-content>
