.head > ion-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #3880ff;
  color: #fff;
}

.name > ion-col {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.data > ion-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 40px;
  background: #fff;
  border: 1px solid grey;
  border-radius: 3px;
  &:not(:first-child) {
    text-align: center;
  }

}
button {
  background: #3880ff;
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
}