<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Past Deliveries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="login-container">
    <ion-item class="ion-margin-bottom ion-margin-top" color="light">
      <ion-label position="stacked">Delivery No</ion-label>
      <ion-input type="text" readonly [value]="loadsheet?.delivery_no" class="icon-user"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" color="light">
      <ion-label position="stacked">Date</ion-label>
      <ion-input type="text" readonly [value]="loadsheet?.delivery_date.slice(0,10)" class="icon-calendar"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" color="light">
      <ion-label position="stacked">Time</ion-label>
      <ion-input type="text" readonly [value]="loadsheet?.delivery_date.slice(11)" class="icon-clock"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" color="light">
      <ion-label position="stacked">Delivery Address</ion-label>
      <ion-input type="text" readonly [value]="loadsheet?.delivery_address" class="icon-home2"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" color="light">
      <ion-label position="stacked">Transport Company</ion-label>
      <ion-input type="text" readonly [value]="loadsheet?.transport_company" class="icon-office"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" color="light">
      <ion-label position="stacked">Vehicle Registration Number</ion-label>
      <ion-input  (ionChange)="updatereg()" type="text" [value]="loadsheet?.vehicle_reg_no"  class="icon-profile"></ion-input>
    </ion-item>
  </div>

  <div class="button-container">
    <ion-button shape="round" class="login-button ion-margin-top"
    (click)="Navigate()" *ngIf="fixedReg != false;" >Take me there</ion-button>

    <ion-button  *ngIf=" this.fixedReg != false;" shape="round" class="login-button extra-margin-top"
    [routerDirection]="'forward'" [routerLink]="['/loadsheets/add-quantities-loaded/',this.loadsheet.loadsheet_id]">
      {{buttonText}}
    </ion-button  >

    <ion-button shape="round" class="login-button" color="danger" *ngIf="!general.isDeliveryCompleted"
    [routerDirection]="'back'" [routerLink]="['/loadsheets']">Cancel This Loadsheet</ion-button>
  </div>
</ion-content>
