<ion-content>
  <div class="logo-header">
    <img src="../../assets/imgs/ic_app_logo.png">
  </div>

  <div class="login-container">
    <div class="ion-text-center ion-margin-bottom">Log In / Create Account</div>

    <form [formGroup]="loginForm">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Email ID</ion-label>
        <ion-input type="email" placeholder="Email ID" class="icon-user" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="Password" class="icon-lock" formControlName="password"></ion-input>
      </ion-item>
    </form>
  </div>

  <div class="button-container">
    <div class="ion-text-center extra-margin-top ion-margin-bottom"
    [routerDirection]="'forward'" [routerLink]="['/forgot-pass']">Forgot Your Password?</div>

    <ion-button shape="round" class="login-button ion-margin-bottom"
    (click)="login(loginForm.value)" [disabled]="!loginForm.valid || isConnecting">
      <span *ngIf="!isConnecting">Login</span>
      <ion-spinner name="dots" *ngIf="isConnecting"></ion-spinner>
    </ion-button>

    <ion-button shape="round" class="login-button" color="dark"
    [routerDirection]="'forward'" [routerLink]="['/signup']">Create a new account</ion-button>
  </div>
</ion-content>
