<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New {{general.constructionStatus}} Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div *ngIf="isLoading">
    <ion-list style="background-color: inherit;">
      <ion-item lines="none" class="col-inner-conatiner margin"
      *ngFor="let item of [1,2,3,4,5,6,7,8]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


  <div *ngIf="!isLoading">
    <div class="extra-margin-bottom" *ngFor="let item of questionList; let i = index">
      <div class="header">Question {{i+1}}:</div>
      <div style="margin: 15px 8px 10px;">{{item.question}}</div>

      <ion-radio-group>
        <ion-item color="light" class="ion-margin-top">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes" (click)="answer(item.id,'yes')"></ion-radio>
        </ion-item>

        <ion-item color="light" class="ion-margin-bottom">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no" (click)="answer(item.id,'no')"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div *ngIf="item.answer == 'no'">
        <div class="header">Add comment / note</div>
        <ion-item class="ion-margin">
          <ion-textarea rows="6" placeholder="Tap here to start typing..." (change)="noteChanged(item.id, $event.target.value)"></ion-textarea>
        </ion-item>
      </div>
    </div>

    <div class="button-container">
      <ion-button shape="round" class="login-button ion-margin-top"
      (click)="next()">Complete</ion-button>

      <ion-button shape="round" class="login-button" color="danger"
      [routerDirection]="'back'" [routerLink]="['/construction/project-details']">Cancel Request</ion-button>
    </div>
  </div>
</ion-content>
