<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Capture Quantities</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <div class="header">Please verify loaded quantities below:</div>

    <ion-grid class="ion-margin">
      <ion-row class="header"> Add Photo </ion-row>

      <ion-row class="ion-margin-bottom" (click)="getImages()">
        <ion-col>
          <img src="../../../assets/imgs/ic_camera.png">
        </ion-col>
        <ion-col>
          <img src="../../../assets/imgs/ic_camera.png">
        </ion-col>
        <ion-col>
          <img src="../../../assets/imgs/ic_camera.png">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item color="light">
          <ion-textarea rows="6" placeholder="Tap here to start typing..." [(ngModel)]="note"></ion-textarea>
        </ion-item>
      </ion-row>
    </ion-grid>

    <div class="button-container">
      <ion-button shape="round" class="login-button extra-margin-top"
      (click)="next()">Next</ion-button>
    </div>
  </ion-content>