<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Capture Quantities</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <div class="header">Please verify loaded quantities below:</div>

    <ion-grid class="ion-margin">
      <ion-row class="header"> Add Photo </ion-row>

      <ion-row class="ion-margin-bottom vertical-center">
        <ion-col (click)="takePicture(1)">
          <img [src]="Photo1 ? Photo1_src : '../../../assets/imgs/ic_camera.png'">
        </ion-col>
        <ion-col (click)="takePicture(2)">
          <img [src]="Photo2 ? Photo2_src : '../../../assets/imgs/ic_camera.png'">
        </ion-col>
        <ion-col (click)="takePicture(3)">
          <img [src]="Photo3 ? Photo3_src : '../../../assets/imgs/ic_camera.png'">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item color="light">
          <ion-textarea rows="6" placeholder="Tap here to start typing..."
          [(ngModel)]="note" [readonly]="completedStatus"></ion-textarea>
        </ion-item>
      </ion-row>
    </ion-grid>

    <div class="button-container">
      <ion-button shape="round" class="login-button extra-margin-top"
      (click)="next()">Next</ion-button>
    </div>
  </ion-content>