@import "../../../theme/extensions.scss";

ion-grid {
  background-color: #fff;
  border-radius: 5px;

  .vertical-center {
    display: flex;
    align-items: center;

    img {
      @extend %block-auto;
      border: 2px solid #3880ff;
      border-radius: 100%;
      width: 80%;
    }
  }

  ion-item {
    width: 100%;
    margin: 10px;
  }
}