ion-row {
  ion-col {
    background-color: #f2f2f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  &>ion-col:first-child {
    text-align: left;
  }
}

.head ion-col {
  background-color: #3880ff;
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}