<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Construction Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="6" [routerDirection]="'forward'" [routerLink]="['/construction/begin-construction']"
      (click)="newConstruction()">
        <div class="col-inner-conatiner padding">
          <img src="../../../assets/imgs/ic_start_new_loadsheet.png" height="60px">
          <div class="text">Begin a new Construction</div>
        </div>
      </ion-col>

      <ion-col size="6" *ngIf="!general.isNewConstruction"
      [routerDirection]="'forward'" [routerLink]="['/construction/construction-view-completed', projectId]">
        <div class="col-inner-conatiner padding">
          <img src="../../../assets/imgs/ic_view_may_past_loadsheet.png" height="60px">
          <div class="text">View Constructions you've completed in this project</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>